{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="static/navigation/css/home.css" />
{% endblock %}
{% block content %}
    <article>
        <h2>Salut c'est moi!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc consequat, venenatis nunc sed,
            euismod nulla. Nullam et hendrerit lectus. Nullam auctor eleifend bibendum. Quisque tristique diam sed augue
            fringilla cursus. Mauris sit amet quam a sem ullamcorper fringilla ut auctor est. Aliquam erat volutpat. Nulla
            eget euismod magna. Curabitur erat purus, sollicitudin quis tortor a, consectetur maximus tortor. Praesent
            tincidunt suscipit pretium. Maecenas vitae convallis elit. Donec ac finibus arcu, id bibendum odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc consequat, venenatis nunc sed,
            euismod nulla. Nullam et hendrerit lectus. Nullam auctor eleifend bibendum. Quisque tristique diam sed augue
            fringilla cursus. Mauris sit amet quam a sem ullamcorper fringilla ut auctor est. Aliquam erat volutpat. Nulla
            eget euismod magna. Curabitur erat purus, sollicitudin quis tortor a, consectetur maximus tortor. Praesent
            tincidunt suscipit pretium. Maecenas vitae convallis elit. Donec ac finibus arcu, id bibendum odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc consequat, venenatis nunc sed,
            euismod nulla. Nullam et hendrerit lectus. Nullam auctor eleifend bibendum. Quisque tristique diam sed augue
            fringilla cursus. Mauris sit amet quam a sem ullamcorper fringilla ut auctor est. Aliquam erat volutpat. Nulla
            eget euismod magna. Curabitur erat purus, sollicitudin quis tortor a, consectetur maximus tortor. Praesent
            tincidunt suscipit pretium. Maecenas vitae convallis elit. Donec ac finibus arcu, id bibendum odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget nunc consequat, venenatis nunc sed,
            euismod nulla. Nullam et hendrerit lectus. Nullam auctor eleifend bibendum. Quisque tristique diam sed augue
            fringilla cursus. Mauris sit amet quam a sem ullamcorper fringilla ut auctor est. Aliquam erat volutpat. Nulla
            eget euismod magna. Curabitur erat purus, sollicitudin quis tortor a, consectetur maximus tortor. Praesent
            tincidunt suscipit pretium. Maecenas vitae convallis elit. Donec ac finibus arcu, id bibendum odio.
        </p>
    </article>
    <aside>
        <h2>A propos de moi...</h2>
        <p>
            Laissez moi me présenter a vous! Je m'appelle Simon et je suis le meilleur hehehe.
        </p>
        <p>
            C'est un peu court non? mais c'est pas grave, ca vous suffit de savoir cela! Après dites vous que vous avez
            de la chance de m'avoir rencontré.
        </p>
    </aside>

{% endblock %}